<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/report.css">
   
</head>

<body>
    <header>
        <div class="container">
            <h1>Toko Ritel</h1>
            <nav>
                <ul>
                    <li><a href="home">Home</a></li>
                    <li><a href="addData">Add Data</a></li>
                    <li><a href="report">Report</a></li>
                    <li><a href="barChart">Bar Chart</a></li>
                    <li><a href="scatterPlot">Scatter Plot</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section>
            <h2>Data Summary </h2>

            <h3>Education</h3>
            <div class="summary-container-wrapper">
                <div class="summary-container">
            
                <table>
                    <tr>
                        <div id="judul">Graduation</div>
                    </tr>
                    <tr>
                        <th>Meat Product</th>
                        <td>80</td>
                    </tr>
                    <tr>
                        <th>Fish Product</th>
                        <td>113</td>
                    </tr>
                    <tr>
                        <th>Average Income</th>
                        <td>82800</td>
                    </tr>
                </table>
            </div>

            <div class="summary-container">
                
                <table>
                    <tr>
                        <div id="judul">Master</div>
                    </tr>
                    <tr>
                        <th>Meat Product</th>
                        <td>80</td>
                    </tr>
                    <tr>
                        <th>Fish Product</th>
                        <td>113</td>
                    </tr>
                    <tr>
                        <th>Average Income</th>
                        <td>82800</td>
                    </tr>
                </table>
            </div>
            <div class="summary-container">
                <table>
                    <tr>
                        <div id="judul">PHD</div>
                    </tr>
                    <tr>
                        <th>Meat Product</th>
                        <td>80</td>
                    </tr>
                    <tr>
                        <th>Fish Product</th>
                        <td>113</td>
                    </tr>
                    <tr>
                        <th>Average Income</th>
                        <td>82800</td>
                    </tr>
                </table>
            </div>
            </div>
        </div>
            
            
                <h3>Marital Status </h3>
                <div class="summary-container-wrapper">
                    <div class="summary-container">
                <table>
                    <tr>
                        <div id="judul">Married</div>
                    </tr>
                    <tr>
                        <th>Meat Product</th>
                        <td>80</td>
                    </tr>
                    <tr>
                        <th>Fish Product</th>
                        <td>113</td>
                    </tr>
                    <tr>
                        <th>Average Income</th>
                        <td>82800</td>
                    </tr>
                </table>
            </div>

            <div class="summary-container">
                <table>
                    <tr>
                        <div id="judul">Divorced</div>
                    </tr>
                    <tr>
                        <th>Meat Product</th>
                        <td>80</td>
                    </tr>
                    <tr>
                        <th>Fish Product</th>
                        <td>113</td>
                    </tr>
                    <tr>
                        <th>Average Income</th>
                        <td>82800</td>
                    </tr>
                </table>
            </div>

            <div class="summary-container">
                <table>
                    <tr>
                        <div id="judul">Single</div>
                    </tr>
                    <tr>
                        <th>Meat Product</th>
                        <td>80</td>
                    </tr>
                    <tr>
                        <th>Fish Product</th>
                        <td>113</td>
                    </tr>
                    <tr>
                        <th>Average Income</th>
                        <td>82800</td>
                    </tr>
                </table>
            </div>
        </div>
        </div>
        </section>
    </main>  
</body>

</html>
